body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

/* Tags */

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 16px;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

/* Classes */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: sticky;
  bottom: 0;
}

/* Main content wrapper */
.main-content {
  flex: 1; /* Allow content to push footer to the bottom */
  min-height: 100vh;
}

.repo-link {
  color: #55a7fe; /* Default link color */
  transition: color 0.3s; /* Smooth color transition on hover */
}

.repo-link:hover {
  color: #79b8fa; /* Change link color on hover */
  text-decoration: underline; /* Add underline on hover */
}

/* Utilities */
.flex {
  display: flex;
}

.highlight-row {
  background-color: lightblue;
}
