body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Tags */

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 16px;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

/* Classes */
.header {
  background-color: #6483f2;
  min-height: 16vh;
}

/* Utilities */
.flex {
  display: flex;
}

.center {
  /*  */
}
